{% extends 'AnimauxZone/base.html' %}
{% load static %}
{% block content %}

        <article>
            <h2 style="text-align: center; color: white;"> Bienvenue au Parc Zoologique d'Ivoloina Madagascar</h2>
            <h2 style="text-align: center;color: white;">
                Le Parc Ivoloina se situe à 12 km au nord de Tamatave au sein d’une station forestière de 282 hectares qui offre à ses visiteurs une pluralité d’excursions pour toute la famille, dans un cadre verdoyant et accueillant. Un Parc Zoologique avec une collection de plus de 100 lémuriens (en cage et en semi-liberté), des tortues, des caméléons, des grenouilles….avec même la possibilité d’une visite nocturne pour observer l’incroyable Aye Aye, le Cheirogale, et le Microcèbe.! Lors de votre découverte vous pourrez aussi vous promener en suivant les différentes pistes de randonnées autour du lac, à la cascade ou vers l’observatoire et la
belle vue. Pour en connaitre d’avantage sur les activités de l’ONG, Madagascar Fauna and Flora Group, passez par le Centre d’Education à l’Environnement (CEE) et découvrez l’exposition permanente sur la biodiversité malgache.
En poursuivant votre parcours, vous aurez la possibilité
            </h2>
        </article>

{% endblock %}
